<nav class="navbar navbar-expand-lg navbar-light bg-blue" *ngIf="showNavbar">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <img src="assets/Job4jobless & Hustleforwork-01.png" width="300" class="image-thumbnail d-inline-block">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <i class="fa-solid fa-bars-staggered"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav nav-pills me-auto">
                <li class="nav-item" >
                    <a class="nav-link" routerLinkActive="active"  [routerLinkActiveOptions]={exact:true} aria-current="page" routerLink="/">FindJobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/about-us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/contact-us">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/blogs">Blogs</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/employer" target="_blank">Employer</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" aria-current="page" *ngIf="userService.roleMatch('Admin')" routerLink="/admin">Admin Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" *ngIf="userService.roleMatch('User')" routerLink="/user">User Dashboard</a>
                </li> -->
            </ul>
            <!-- Show Dashboard button when the user is authenticated -->
            <button *ngIf="showDashboardButton" type="button" class="btn btn-success" routerLink="/dashboarduser"
                [queryParams]="{ uid: uid, accessToken: accessToken }">Dashboard</button>

            <!-- Show Login button when the user is not authenticated -->
            <button *ngIf="!showDashboardButton" type="button" class="btn btn-custom rounded-pill"
                routerLink="/login">Start job hunting <span class="mx-2"><i class="fa-solid fa-chevron-right"></i></span></button>

            <!-- Other content of your app -->

        </div>
    </div>
</nav>