.footer {
  /* background-color: #ececec; */
  background-color: #1c1c1c;
  padding: 2em 0em;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.footer a:hover {
  color: #007bff;
  /* Change color on hover */
}

.social-list li {

  margin: 0 10px;
  /* Adjust margin as needed */

}

.text-justify {
  text-align: justify;
}

.contact-details h2 {
  margin-bottom: 5px;
  /* Adjust the margin as needed to control the spacing between sections. */
}

.non-bold-text {
  font-weight: normal;
  /* This will make the text inside the span not bold. */
}