<section class="blog-posts custom-font" style="margin: 50px auto;">
  <div class="container">
 
    <div class="row">
   
      <div class="col-md-4 d-flex">
        <div class="card mb-4 shadow d-flex flex-column">
          <img src="assets/jobinterview.jpg" alt="Blog Post 1" class="card-img-top">
          <div class="card-body d-flex flex-column">
            <h1>How To Make a Best Impression on a Job Interview: 20 Tips
            </h1>
            <p class="card-text text-justify">Do you wish to make a good impression on a job interview? Is your dream
              job just an interview away? Are you looking for proven expert interview tips? If yes, you have come to the
              right place.
            </p>
            <p>We understand that getting your desired job is not an easy task. There are lots of struggles, starting
              from education to clearing entrance examinations and, of course, getting the required merit.</p>
            <a routerLink="/blog/jobinterviewtips" class="btn custom-btn rounded-pill mt-auto ">Read More</a>
          </div>
        </div>
      </div>


      <div class="col-md-4 d-flex">
        <div class="card mb-4 shadow d-flex flex-column">
          <img src="assets/bestcareeroptionblog.jpg" alt="Blog Post 1" class="card-img-top">
          <div class="card-body d-flex flex-column">
            <h1>Best Career Options After 12th Science (PCM)
            </h1>
            <p class="card-text text-justify">Have you cleared your 12th PCM with good marks and a stunning CGPA? Are
              you looking for the best career options
              after your school? Do you wish to take admission to the best courses that offer hefty salary packages?
            </p>
            <p>If yes, you have come to the right place. Today, we will highlight some of the best career options along
              12th
              Science (PCM) With Salary packages. But first, you should know a few things about PCM.</p>
            <a routerLink="/blog/careeroptionaftr12" class="btn custom-btn rounded-pill mt-auto ">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex">
        <div class="card mb-4 shadow d-flex flex-column">
          <img src="assets/Expertise-&-Experience-min.jpg" alt="Blog Post 3" class="card-img-top">
          <div class="card-body d-flex flex-column">
            <h1>Powerful Assessments Tool
            </h1>
            <p class="card-text text-justify">In today's competitive job market, employers are constantly seeking ways
              to identify the most qualified candidates for their organizations. With the ever-changing landscape of
              skills and competencies required in various industries, it can be challenging to accurately assess an
              individual's abilities. This is where assessments come into play, serving as a powerful tool for skill
              validation.
            </p>
            <a routerLink="/blog/powerfulassessmentstool" class="btn custom-btn rounded-pill mt-auto ">Read More</a>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
  
      <div class="col-md-4 d-flex">
        <div class="card mb-4 shadow d-flex flex-column">
          <img src="assets/Seamless-Experience-min.jpg" alt="Blog Post 2" class="card-img-top">
          <div class="card-body d-flex flex-column">
            <h1>Stress-Free Job Hunting
            </h1>
            <p class="card-text text-justify">Are you feeling overwhelmed and stressed out by the job hunting process?
              You're not alone. Searching for a job can be a challenging and anxiety-inducing experience. But don't
              worry, we're here to help! Here are some stress-free job hunting tips to help you manage the stress and
              make the process a little bit easier.
            </p>
            <a routerLink="/blog/stressfreejobhunting" class="btn custom-btn rounded-pill mt-auto ">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="card mb-4 shadow d-flex flex-column">
          <img src="assets/Connecting-Perfect-Matches-min (1).jpg" alt="Blog Post 1" class="card-img-top">
          <div class="card-body d-flex flex-column">
            <h1>Create Outstanding Resume
            </h1>
            <p class="card-text text-justify">In today's competitive job market, having an outstanding resume is more
              important than ever. Your resume is often the first impression you make on a potential employer, so it's
              crucial to make it count. To help you create a resume that grabs attention, we've compiled a list of dos
              and don'ts. Follow these guidelines to craft a resume that stands out from the crowd.
            </p>
            <a routerLink="/blog/createoustandingresume" class="btn custom-btn rounded-pill mt-auto ">Read More</a>
          </div>
        </div>
      </div>
    </div>


    <div class="row justify-content-center mt-4">
      <div class="colmd-4"></div>
      <div class="col-md-2">
        <!-- <a routerLink="/bloglist" class="btn custom-btn rounded-pill btn-sm">Explore More</a> -->
      </div>
    </div>
  </div>
</section>
<!-- <app-footer></app-footer> -->