<div class="container">
  <div class="row">
    <!-- <h1 class="text-center" style="font-size: 1.5rem;  color: black;">Ready to take the next step?</h1> -->
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
      <div class="container custom-box">
        <div class="row">
          <h1 class="text-center">Register Now</h1>
          <button class="btn custom-button btn-lg" (click)="loginWithGoogle()">
            <i class="fab fa-google"></i> Sign Up with Google
          </button>
          <div class="col-md 6">
            <form [formGroup]="employerdetails" (ngSubmit)="empRegisteration()">


              <div class="form-group">
                <label for="empfname">First Name:*</label>
                <input type="text" id="empfname" formControlName="empfname" class="form-control" required>
              </div>


              <div class="form-group">
                <label for="emplname">Last Name:*</label>
                <input type="text" id="emplname" formControlName="emplname" class="form-control" required>
              </div>


              <div class="form-group">
                <label for="empcompany">Company Name:*</label>
                <input type="text" id="empcompany" formControlName="empcompany" class="form-control" required>
              </div>

              <div class="form-group">
                <label for="empmailid">Email:*</label>
                <input type="email" id="empmailid" formControlName="empmailid" class="form-control" required>
                <div
                  *ngIf="employerdetails.get('empmailid')?.hasError('email') && !employerdetails.get('empmailid')?.hasError('pattern')"
                  class="text-danger">
                  Please enter a valid email address.
                </div>
                <div *ngIf="employerdetails.get('empmailid')?.hasError('pattern')" class="text-danger">
                  Email must be a valid gmail address.
                </div>
              </div>

              <div class="form-group">
                <label for="emppass">Password:*</label>
                <div class="input-group">
                  <input type="{{ empPasswordVisible ? 'text' : 'password' }}" id="emppass" formControlName="emppass"
                    class="form-control" required />
                  <div class="input-group-append">
                    <span class="input-group-text password-toggle" (click)="toggleEmpPasswordVisibility()"
                      style="cursor: pointer;">
                      <i class="fa" [ngClass]="empPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
                    </span>
                  </div>
                </div>
                <div *ngIf="employerdetails.get('emppass')?.hasError('minlength')" class="text-danger">
                  Password should must have 8 characters with one special character, one uppercase and one lowercase.
                </div>
                <div *ngIf="employerdetails.get('emppass')?.hasError('pattern')" class="text-danger">

                </div>
              </div>



              <div class="form-group">
                <label for="empcountry">Country:*</label>
                <select id="empcountry" formControlName="empcountry" class="form-control" required>
                  <option value="">Select your country</option>
                  <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
                </select>
              </div>




              <div
                *ngIf="employerdetails.get('empcountry')?.hasError('required') && employerdetails.get('empcountry')?.touched"
                class="text-danger">
                Country is required.
              </div>


              <div class="form-group row">
                <div class="col">
                  <label for="empphone">Phone:*</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input type="tel" id="empphone" class="form-control" formControlName="empphone"
                      placeholder="Enter Phone" required>

                  </div>
                  <div *ngIf="employerdetails.get('empphone')?.hasError('pattern')" class="text-danger">
                    Please enter a valid 10-digit phone number.
                  </div>
                </div>
                <div class="col">
                  <label for="empstate">State:*</label>
                  <input type="text" id="empstate" formControlName="empstate" class="form-control" required
                    placeholder="Enter your state">
                </div>
              </div>

              <div class="form-group">

              </div>







              <div class="form-group">
                <label for="empcity">City:*</label>
                <input type="text" id="empcity" formControlName="empcity" class="form-control" required
                  placeholder="Enter your city">
              </div>



              <div class="form-group">
                <label for="descriptionemp">Description:*</label>
                <textarea id="descriptionemp" formControlName="descriptionemp" class="form-control" rows="4"
                  required></textarea>
                  <angular-editor [config]="config" formControlName="descriptionemp"></angular-editor>
                  <!-- <div [innerHTML]="htmlContent" style="margin: 20pz;"></div> -->
              </div>
              <button type="submit" class="btn btn-primary btn-block mt-3" [disabled]="loading">
                <span *ngIf="!loading">Register</span>
                <span *ngIf="loading"><i class="fa fa-spinner fa-spin"></i> Please wait...</span>
              </button>
              <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
            </form>
          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <div *ngIf="successMessage" class="alert alert-success">
        {{ successMessage }}
      </div>
      <div *ngIf="showWarning" class="alert alert-warning">
        Warning: User does not exist
      </div>
    </div>
  </div>

</div>