<ng-container *ngIf="postId === 'createoustandingresume'">
    <div class="container d-flex flex-column align-items-center">
        <div class="row">
            <h1 class="head_text">Connecting Perfect Matches</h1>
        </div>
        <div class="row">
            <h2 class="text-center">We're dedicated to helping job seekers and employers find the perfect match.</h2>
            <h2>At Job 4 Jobless, our aim is to bridge the gap between job seekers and employers seamlessly. We're
                dedicated to pairing the right talent with the perfect job opportunities. Our platform facilitates these
                connections, ensuring that job seekers and employers find their ideal match for a brighter future.</h2>
        </div>
        <div class="row justify-content-center">
            <img src="assets/Connecting-Perfect-Matches-min (1).jpg" alt="" class="img-fluid"
                style="max-width: 60%; height: auto;">
            <div class="container d-flex flex-column align-items-center">
                <div class="row" style="max-width: 60%;">
                    <div class="col-md-12">
                        <h2 class="sub_head_text">Resume Tips</h2>

                        <details class="details-tip" open>
                            <summary class="summary-tip">1. Use a professional format</summary>
                            <p class="tip-content">
                                Start with a clear and organized layout. Use headings, bullet points, and a
                                consistent font style to make your resume easy to read.
                            </p>
                        </details>
                        <details class="details-tip">
                            <summary class="summary-tip">2. Tailor your resume to the job</summary>
                            <p class="tip-content">
                                Customize your resume for each position you apply for. Highlight relevant skills and
                                experiences that align with the job description.
                            </p>
                        </details>
                        <details class="details-tip">
                            <summary class="summary-tip">3. Showcase your achievements</summary>
                            <p class="tip-content">
                                Instead of simply listing your responsibilities, focus on quantifiable achievements.
                                Highlight specific results you achieved in previous roles to demonstrate your
                                abilities.
                            </p>
                        </details>
                        <details class="details-tip">
                            <summary class="summary-tip">4. Include keywords</summary>
                            <p class="tip-content">
                                Many companies use applicant tracking systems (ATS) to scan resumes for specific
                                keywords. Research the job description and incorporate relevant keywords throughout
                                your resume, including in your skills and experience sections.
                            </p>
                        </details>
                        <details class="details-tip">
                            <summary class="summary-tip">5. Highlight your education</summary>
                            <p class="tip-content">
                                If you have relevant degrees, certifications, or training, make sure to include them
                                in a prominent place on your resume. This can help you stand out from other
                                candidates.
                            </p>
                        </details>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" style="max-width: 60%;">
            <h2>We prioritize user-friendly design and intuitive navigation. JOB4JOBLESS offers a seamless experience,
                making your job search effortless. Our platform's smooth flow ensures that whether you're browsing job
                listings, applying, or connecting with employers, your journey is hassle-free. Your path to career
                success is built on a foundation of simplicity and efficiency.Our platform values both the expertise of
                seasoned professionals and the fresh energy of newcomers.</h2>
            <h2> We celebrate the diversity of skills and
                experiences, fostering a vibrant community where everyone's unique talents are recognized and
                appreciated. Whether you're a seasoned pro or just starting your career, JOB4JOBLESS is your partner on
                your journey to success. At JOB4JOBLESS, we are dedicated to transforming your career aspirations into
                tangible achievements.</h2>
            <h2>
                Our platform serves as the bridge between your dreams and reality, providing the
                tools, opportunities, and resources you need to take that crucial step forward. Your dream job is within
                reach, and we're here to help you make it a reality.Our platform values both the expertise of seasoned
                professionals and the fresh energy of newcomers. We celebrate the diversity of skills and experiences,
                fostering a vibrant community where everyone's unique talents are recognized and appreciated. Whether
                you're a seasoned pro or just starting your career, JOB4JOBLESS is your partner on your journey to
                success.</h2>
        </div>

        <div class="row" style="max-width: 60%;">
            <h2>By following these dos and don'ts, you can create a standout resume that catches the attention of
                potential employers. Remember to use a professional format, highlight your achievements, and tailor your
                resume for each job application. Don't forget to include relevant keywords to optimize your resume for
                applicant tracking systems. With a well-crafted resume, you'll be one step closer to landing your dream
                job. Looking to optimize your cloud data integration solutions? Explore our range of cloud data
                integration solutions that can streamline your business processes and improve efficiency. Whether you
                need real-time data integration, data migration, or data replication, our cloud data integration
                solutions offer seamless integration across multiple platforms. Contact us today to learn more about how
                our cloud data integration solutions can benefit your business.</h2>
        </div>
        <div class="row" style="max-width: 60%;">
            <h1 class="sub_head_text">Important Resume Statistics:</h1>
            <ol>
                <li>According to research by The Ladders, recruiters typically spend only about 7.4 seconds
                    reviewing a resume before making an initial judgment about a candidate.</li>
                <li>A study by CareerBuilder found that 39% of employers spend more time with resumes that are
                    well-written and organized.</li>
                <li>Approximately 75% of submitted resumes are never seen by a human because they are filtered out
                    by ATS, making it essential to create a resume that is ATS-friendly.</li>
                <li>A survey by The Muse reported that 71% of job applicants said they've secured an interview due
                    to their resume quality.</li>
            </ol>
        </div>
    </div>
</ng-container>



<ng-container *ngIf="postId === 'stressfreejobhunting'">
    <div class="container d-flex flex-column align-items-center">
        <div class="row">
            <h1 class="head_text">Stress-Free Job Hunting</h1>
        </div>
        <div class="row">
            <h2>Are you feeling overwhelmed and stressed out by the job hunting process? You're not alone.
                Searching for a job can be a challenging and anxiety-inducing experience. But don't worry, we're
                here to help! Here are some stress-free job hunting tips to help you manage the stress and
                make the process a little bit easier.</h2>
        </div>
        <div class="row justify-content-center">
            <img src="assets/Seamless-Experience-min.jpg" alt="" class="img-fluid"
                style="max-width: 60%; height: auto;">
            <div class="container d-flex flex-column align-items-center">
                <div class="row" style="max-width: 60%;">
                    <div class="col-md-12">
                        <h2 class="sub_head_text">Resume Tips</h2>

                        <details class="details-tip" open>
                            <summary class="summary-tip">1. Set realistic expectations:</summary>
                            <p class="tip-content">
                                One of the main sources of stress during job hunting is setting
                                unrealistic expectations. It's important to be realistic about the job market and the
                                time it might
                                take to find a job. Don't put unnecessary pressure on yourself and allow some
                                flexibility in your
                                job search timeline.
                            </p>
                        </details>

                        <details class="details-tip">
                            <summary class="summary-tip">2. Take breaks and practice self-care:</summary>
                            <p class="tip-content">
                                It's important to take breaks and give yourself some
                                time off from job hunting. Engage in activities that help you relax and recharge, such
                                as
                                exercise, reading, or spending time with loved ones. Taking care of your physical and
                                mental
                                well-being will help you stay motivated and focused during your job search.
                            </p>
                        </details>

                        <details class="details-tip">
                            <summary class="summary-tip">3. Create a structured routine:</summary>
                            <p class="tip-content">
                                Establishing a routine can help you stay organized and
                                focused during your job search. Set specific times for searching and applying for jobs,
                                networking, and updating your resume and cover letter. Having a clear structure will not
                                only
                                make you more productive but also reduce stress.
                            </p>
                        </details>

                        <details class="details-tip">
                            <summary class="summary-tip">4. Break it down::</summary>
                            <p class="tip-content">
                                The job search process can be overwhelming, especially if you're looking for
                                a career change or have been out of work for a while. Break down the process into
                                smaller,
                                manageable tasks. Create a to-do list and tackle one task at a time. Celebrate small
                                victories
                                along the way, such as completing a job application or scheduling an interview.
                            </p>
                        </details>

                        <details class="details-tip">
                            <summary class="summary-tip">5. Network, network, network:</summary>
                            <p class="tip-content">
                                Networking is a crucial part of job hunting, but it doesn't have to
                                be stressful. Instead of focusing on networking events or formal settings, think of it
                                as building
                                relationships and connecting with people who share similar professional interests.
                                Attend
                                industry conferences, join online communities, and reach out to professionals in your
                                field.
                                Networking can lead to hidden job opportunities and provide valuable support and advice
                                during
                                your job search.
                            </p>
                        </details>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <h1 class="sub_head_text">Seek support:</h1>
        </div>
        <div class="row" style="max-width: 60%;">
            <h2>Don't be afraid to ask for help and seek support during your job hunt. Reach
                out to friends, family, or mentors who can provide guidance and encouragement. Consider
                joining job search support groups or seeking assistance from career coaching services. Having
                a support system will make the job search journey less isolating and more manageable.</h2>

        </div>
        <div class="row">
            <h1 class="sub_head_text">Practice self-reflection:</h1>
        </div>
        <div class="row" style="max-width: 60%;">
            <h2>Job hunting can be a time for self-reflection and self-discovery. Take
                the opportunity to reassess your skills, values, and career goals. Use this time to explore new
                industries or consider alternative career paths. Taking a proactive approach to self-reflection can
                make the job search more exciting and less stressful.</h2>
            <h2>Remember, job hunting is a process, and it's normal to experience stress along the way. By
                implementing these stress-free job hunting tips, you can navigate the job search with more ease
                and confidence. Stay positive, stay persistent, and trust that the right opportunity will come your
                way. Good luck!</h2>
        </div>
        <div class="row" style="max-width: 60%;">
            <h1 class="sub_head_text">DO YOU KNOW?</h1>
            <ol>
                <li>According to a Jobvite survey, 40% of job seekers found their favorite job through
                    referrals, often leading to a smoother application process. </li>
                <li>According to a survey by the Society for Human Resource Management, 84% of
                    employers believe job applicants have 24 hours to respond to an interview request. </li>
                <li>Customizing your application materials for each position can increase your chances of
                    success. </li>
                <li>Acquiring new skills and certifications can make you a more competitive job candidate. </li>
            </ol>
        </div>
    </div>
</ng-container>








<ng-container *ngIf="postId === 'powerfulassessmentstool'">
    <div class="container d-flex flex-column align-items-center">
        <div class="row">
            <h1 class="head_text">Powerful Assessments Tool</h1>
        </div>
        <div class="row">
            <h2>In today's competitive job market, employers are constantly seeking ways to identify the most qualified
                candidates for their organizations. With the ever-changing landscape of skills and competencies required
                in various industries, it can be challenging to accurately assess an individual's abilities. This is
                where assessments come into play, serving as a powerful tool for skill validation.
            </h2>


        </div>
        <div class="row justify-content-center">
            <img src="assets/Expertise-&-Experience-min.jpg" alt="" class="img-fluid"
                style="max-width: 60%; height: auto;">

        </div>

        <div class="row" style="max-width: 60%;">
            <h2>Assessments are structured evaluations designed to measure an individual's knowledge, skills, and
                abilities in a specific area. These evaluations can take various forms, including written tests,
                interviews, simulations, and practical exercises. By incorporating assessments into the hiring process,
                employers can gain valuable insights into a candidate's capabilities and potential for success in a
                particular role. One of the key advantages of leveraging assessments for skill validation is the ability
                to objectively measure an individual's proficiency level. Unlike traditional resumes and interviews,
                which often rely on subjective opinions and self-reported claims, assessments provide concrete evidence
                of a candidate's skills. This helps employers make informed decisions based on actual performance rather
                than relying solely on qualifications listed on a resume.</h2>
            <h2>Additionally, assessments offer a standardized and consistent approach to evaluating candidates. By
                utilizing the same set of evaluation criteria for all applicants, employers can ensure fairness and
                minimize potential biases in the hiring process. This eliminates any potential favoritism or
                discrimination and promotes a more inclusive and equal opportunity environment. Uncover Hidden Talents
                and potential Another significant benefit of assessments is their ability to uncover hidden talents and
                potential in candidates. Sometimes, individuals may possess skills and abilities that are not apparent
                from their resume or initial interview. Assessments provide a platform for candidates to showcase their
                true capabilities, allowing employers to identify hidden talents that may be crucial for the success of
                their organization.</h2>
            <h2>Furthermore, assessments can serve as a reliable predictor of future job performance. By evaluating a
                candidate's skills and competencies in a simulated or real-life scenario, employers can gauge their
                ability to handle the challenges and responsibilities of a specific role. This predictive power helps
                organizations make more informed decisions when selecting candidates, reducing the risk of hiring
                individuals who may not meet the job requirements. Apart from the hiring process, assessments can also
                be leveraged for employee development and training purposes. Regular assessments can help organizations
                identify skill gaps among their workforce and design targeted training programs to bridge those gaps.
                This proactive approach to skill development can lead to increased productivity, improved job
                satisfaction, and enhanced overall performance within the organization.</h2>
            <h1 class="sub_head_text">DO YOU KNOW?</h1>
            <ol>
                <li>A study by SHL found that job candidates who were subject to skills testing were 12%
                    more likely to be successful. </li>
                <li>According to a report by Aberdeen Group, companies that use pre-employment
                    assessments experience a 39% lower turnover rate and reduce their hiring costs by
                    16%. </li>
                <li>According to a survey by the American Psychological Association, 87% of employers
                    report that well-designed assessments are effective at identifying top candidates. </li>
                <li>According to research published in the International Journal of Selection and
                    Assessment, assesment tools have strong predictive validity and can lead to more
                    successful hires. </li>
            </ol>

        </div>
        <div class="row" style="max-width: 60%;">
            <h2 class="sub_head_text">Conclusion</h2>
            <h2>Assessments are a powerful tool for skill validation in today's competitive job market. By incorporating
                assessments into the hiring process, employers can objectively measure a candidate's proficiency, ensure
                fairness and consistency, uncover hidden talents, and predict future job performance. Moreover,
                assessments can also be used for employee development and training, leading to a more skilled and
                capable workforce. As the demand for highly qualified candidates continues to rise, leveraging
                assessments is essential for organizations to make informed decisions and secure the best talent for
                their success.
            </h2>
        </div>
    </div>

</ng-container>

<ng-container *ngIf="postId === 'careeroptionaftr12'">
    <div class="container d-flex flex-column align-items-center">
        <div class="row">
            <h1 class="head_text">Best Career Options After 12th Science (PCM)</h1>
        </div>
        <div class="row">
            <h2>Have you cleared your 12th PCM with good marks and a stunning CGPA? Are you looking for the best career
                options
                after your school? Do you wish to take admission to the best courses that offer hefty salary packages?
            </h2>
        </div>
        <div class="row">
            <h2>If yes, you have come to the right place. Today, we will highlight some of the best career options along
                12th
                Science (PCM) With Salary packages. But first, you should know a few things about PCM.</h2>
        </div>
        <div class="row justify-content-center">
            <img src="assets/bestcareeroptionblog.jpg" alt="" class="img-fluid" style="max-width: 60%; height: auto;">
        </div>
        <div class="row" style="max-width: 60%;">
            <h1 class="head_text">What is 12th PCM?</h1>
            <h2>After the 10th standard, students are given the option to choose their desired subject stream based on
                their
                interests and merit.</h2>
            <h2>Students who choose, study, and complete their senior intermediate (10+2) certification with science
                (Physics,
                Chemistry, and Mathematics) as their major are called 12th PCM students. 12th Class is a turning point
                for
                students because it symbolizes the end of their teen or school years and the start of their careers.
                Knowing your
                employment possibilities will help you make wise decisions and pursue admission into the best possible
                course that
                has your interest.
            </h2>
            <h2>Choosing the right profession that you enjoy practicing is really important. This is because you will
                have it
                for the rest of your life. Following 12th PCM, there are numerous career options that you can look into,
                namely,
                in technology, healthcare, planning, multimedia, and infrastructure.
            </h2>
        </div>
        <div class="row justify-content-center">
            <img src="assets/careerblogoptionblog2.jpg" alt="" class="img-fluid" style="max-width: 60%; height: auto;">
        </div>
        <div class="row">
            <h1 class="sub_head_text">How To Choose The Right Course After 12th PCM?</h1>
        </div>
        <div class="row" style="max-width: 60%;">
            <h2>Selecting the best career option after 12th PCM requires you to think carefully about your interest and
                select a
                high-paying course. Given that, here is what you should focus on:-</h2>
            <ol>
                <li>Consider your likable subjects and interests.</li>
                <li>Explore different courses after 12th PCM that interest you.</li>
                <li>Sort your list based on relevance to your career path, competitive salary, and position.</li>
                <li>List the top colleges and universities after 12th PCM.</li>
                <li>Examine their background, faculty, fee structure, and national/international ranking.</li>
                <li>Examine the complete course syllabus for relevance to your career objective.</li>
                <li>Assess the course's potential future value and potential pay packages.</li>
            </ol>
        </div>
        <div class="row">
            <h1 class="sub_head_text">High Salary Courses After 12th PCM</h1>
        </div>
        <div class="row justify-content-center">
            <img src="assets/careeroptionblog2.jpg" alt="" class="img-fluid" style="max-width: 60%; height: auto;">
        </div>
        <div class="row" style="max-width: 60%;">
            <h2>Here is a list of the courses that you can take after 12th PCM:-</h2>
            <ol>
                <li>B.Tech (Bachelor of Technology)</li>
                <li>B.Sc. Nautical Science</li>
                <li>B.E. Marine Engineering</li>
                <li>BCA (Bachelor of Computer Application)</li>
                <li>BS (Bachelor of Science in Computer Engineering)</li>
                <li>B.E. Civil Engineering</li>
                <li>B.E. Electrical & Electronics Engineering</li>
                <li>B.Sc in Aviation</li>
                <li>BSc Maths</li>
                <li>BTech Mechanical Engineering</li>
                <li>BTech Chemical Engineering</li>
                <li>BTech Aeronautical Engineering</li>
                <li>BTech Information Technology</li>
                <li>BTech Instrumentation & Control Engineering</li>
                <li>BSc Physics</li>
                <li>BSc Chemistry</li>
                <li>BSc in Statistics</li>
                <li>BSc in Data Science/ Data Analytics</li>
                <li>BDes Product Design</li>
                <li>BDes Industrial Design/Vehicle Design</li>
            </ol>
        </div>
        <div class="row" style="max-width: 60%;">
            <h1 class="sub_head_text">Top Career Options After 12th PCM</h1>
            <h2>Here is the list of the Top Career Options After 12th PCM:-</h2>
            <div *ngFor="let careerOption of careerOptions; let i = index">
                <h1 class="sub_head_text">{{i+1}}. {{ careerOption.title }}</h1>
                <h2>{{ careerOption.description }}</h2>
                <h2 class="subheading">Requirements:</h2>
                <div *ngFor="let requirement of careerOption.requirements" class="requirements">
                    <h2>{{ requirement }}</h2>
                </div>
                <h2 class="subheading">Average salary:</h2>
                <h2>{{ careerOption.averageSalary }}</h2>
            </div>

        </div>
        <div class="row" style="max-width: 60%;">
            <h2 class="sub_head_text">Conclusion</h2>
            <h2>12th PCM is one of the most scoping career options that you can take if you have an interest in science
                and
                technology. There are many courses and professions that pay high salary packages and improve the future.
                However, it is a highly competitive field that requires you to make informed decisions, such as choosing
                the right
                course and college. Not only this, but you will have to search for the right job opportunity afterward.
            </h2>
            <h2>This article explores some job/career options that you can choose after completing 12th Science (PCM).
            </h2>
        </div>
    </div>
</ng-container>




<ng-container *ngIf="postId === 'jobinterviewtips'">
    <div class="container d-flex flex-column align-items-center">
        <div class="row">
            <h1 class="head_text">How To Make a Best Impression on a Job Interview: 20 Tips</h1>
        </div>
        <div class="row">
            <h2>Do you wish to make a good impression on a job interview? Is your dream job just an interview away? Are
                you looking for proven expert interview tips? If yes, you have come to the right place.</h2>
        </div>
        <div class="row">
            <h2>We understand that getting your desired job is not an easy task. There are lots of struggles, starting
                from education to clearing entrance examinations and, of course, getting the required merit.
            </h2>
            <h2>You would not want to get rejected in an interview, right?
            </h2>
            <h2>To help you out, we present you some ways through which you can make a lasting impression on the
                interviewer.</h2>
        </div>
        <div class="row justify-content-center">
            <img src="assets/jobinterview.jpg" alt="" class="img-fluid" style="max-width: 60%; height: auto;">
        </div>
        <div class="row" style="max-width: 60%;">
            <h1 class="head_text">How To Prepare For An Interview?
            </h1>
            <h2>Here is what you should know, “Preparation is Key.” </h2>
            <h2>Before even applying for a job or a company, you should know some basic things, such as the attitude you
                should have, the dress code, knowledge of your industry, and of course, the confidence that should spark
                in your eyes.
            </h2>
            <h2>To be ready for an interview, you should know the position of the interviewer, what kind of questions
                they generally ask, and what impresses them the most. You can do this research on various career
                platforms such as LinkedIn, Glassdoor, and Indeed.</h2>
            <h2>Furthermore, you should perform extensive research on the history, awards, and qualifications of the
                company.</h2>
            <h2>We understand that challenging questions can put anyone in a dilemma. But here are some questions
                usually asked by the interviewers:- </h2>

            <ol>
                <li>
                    Give a brief description of yourself/ describe yourself
                </li>
                <li>What are your weaknesses?</li>
                <li>Why are you the right person for this job?</li>
                <li>How would your family/friends describe you?</li>
            </ol>



            <h2>You should tell the interviewers about your future goals and how you see yourself in 5 years. However,
                some questions, such as family plans, pregnancy, religion, sexual orientation, etc, are off-limits and
                should not be included in an interview.</h2>
        </div>
        <div class="row justify-content-center">
            <img src="assets/jobinterviewtip1.jpg" alt="" class="img-fluid" style="max-width: 60%; height: auto;">
        </div>
        <div class="row">
            <h1 class="sub_head_text">Tips for a Successful Interview
            </h1>
        </div>
        <div class="row" style="max-width: 60%;">
            <h2>\If you have qualified for a job recently, and the interview is approaching soon, here is what you can
                do to prepare for it:- </h2>
            <ol>
                <li>
                    <strong>Find out more about the company and the interviewers:</strong> Research the company's
                    background and the profiles of the interviewers.
                </li>

                <li>
                    <strong>Utilize the brand's merchandise:</strong> Familiarize yourself with the company's products
                    or services.
                </li>

                <li>
                    <strong>Select a good interview outfit:</strong> Choose a professional and appropriate outfit for
                    the interview.
                </li>

                <li>
                    <strong>Request the interview schedule:</strong> Confirm the date, time, and location of the
                    interview.
                </li>

                <li>
                    <strong>Get ready with responses to FAQs:</strong> Prepare answers for common interview questions.
                </li>

                <li>
                    <strong>Go through the job description more than once:</strong> Understand the role and
                    responsibilities thoroughly.
                </li>

                <li>
                    <strong>Take a mock interview:</strong> Practice with a friend or mentor to enhance your interview
                    skills.
                </li>

                <li>
                    <strong>Make a list of references:</strong> Prepare a list of professional references.
                </li>

                <li>
                    <strong>Bring samples of your previous work with you:</strong> If applicable, showcase your work
                    during the interview.
                </li>
            </ol>
            <h2>Labor law also establishes rules for a trial job period's length, compensation, and other aspects. Learn
                in advance about the collective bargaining agreement and other industry-specific details before getting
                hired.
            </h2>
            <h2>Now, we will briefly describe how you should prepare for an interview:-
            </h2>
        </div>
        <div class="row" style="max-width: 60%;">
            <h1 class="sub_head_text">Interview Tips to Help you Get Hired</h1>
            <h2>Now that you know how to do research on a job interview, let us go ahead with interview tips to get you
                started. To prepare you well, we will categorize this into three parts: Before, During, and after the
                interview.
            </h2>
            <h2>This ensures that you won’t miss any points and that your interview will go smoothly. Additionally, this
                will improve your chances of qualifying for the interview by upto 90%. So, let us get started.
            </h2>
            <h2>Here are some top tips to help you in an interview:-</h2>
        </div>


        <div class="row" style="max-width: 60%;">
            <h1 class="sub_head_text">Before The Interview Tips</h1>
            <h2>How your interview will go or whether you will be selected or not depends on how you start preparing for
                it, Even before the interview. Our interview tips will help you make a good preparation for it, long
                before the big day.</h2>
            <h2>Given that, here are some interview tips that you should follow:-
            </h2>
            <div *ngFor="let item of dataArray; let i = index">
                <ng-container *ngIf="i < 4">
                  <h2 class="subheading">{{ i + 1 }}. {{ item.heading }}</h2>
                  <p>{{ item.text }}</p>
                </ng-container>
              </div>
              
              <h2 class="sub_head_text">Interview Tips To Make An Attractive Resume</h2>

              <div *ngFor="let item of dataArray; let i = index">
                <ng-container *ngIf="i >= 4 && i <7">
                  <h2 class="subheading">{{ i + 1 }}. {{ item.heading }}</h2>
                  <p>{{ item.text }}</p>
                </ng-container>
              </div>
              <h2 class="sub_head_text">Interview day</h2>
              <h3>Moving forward, now comes the Interview day. We will discuss some interview tips to help you succeed here:-</h3>
              <div *ngFor="let item of dataArray; let i = index">
                <ng-container *ngIf="i >= 7 && i <16">
                  <h2 class="subheading">{{ i + 1 }}. {{ item.heading }}</h2>
                  <p>{{ item.text }}</p>
                </ng-container>
              </div>
              <h2 class="sub_head_text">After the interview
              </h2>
            <h3>When the interviewers are done asking the questions, it is time you initiate a conversation with them. It is one of the most successful interview tips that not everyone mentions. Given that, here is what you can ask:-</h3>
              <div *ngFor="let item of dataArray; let i = index">
                <ng-container *ngIf="i >= 16">
                  <h2 class="subheading">{{ i + 1 }}. {{ item.heading }}</h2>
                  <p>{{ item.text }}</p>
                </ng-container>
              </div>

        </div>
        <div class="row" style="max-width: 60%;">
            <h2 class="sub_head_text">Conclusion</h2>
            <h2>We hope, with our best and proven interview tips, you will be able to give a successful interview and
                get selected ultimately. </h2>
            <h2>These methods are proven and have always helped people get their dream job. We can understand right
                before the interview you can hesitate or be a little worried. But, if you follow these tips, then you
                can get selected without any complications.
            </h2>
        </div>
    </div>
</ng-container>



<app-footer></app-footer>